<div>


    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Read This Short Instruction</h1>
                    <p>
                    click on about page or just add "/body" to the url and see the routing
                    </p>
                </div>
                <div class="cta">
                    <button class="cta-select">14 Inch</button>
                    <button class="cta-add">Add To Cart</button>
                </div>
            </div>
            <div class="cover">
                <img src="../assets/img/matebook.png" alt="matebook"/>
            </div>
        </section>

        <div class="laptop-select">
            <img src="./img/arrow-left.svg" alt="" />
            <img src="./img/dot.svg" alt="" />
            <img src="./img/dot-full.svg" alt="" />
            <img src="./img/dot-full.svg" alt="" />
            <img src="./img/arrow-right.svg" alt="" />
        </div>

        <img class="big-circle" src="../assets/img/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="../assets/img/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="../assets/img/small-eclipse.svg" alt="" />
    </main>

</div>
<app-body></app-body>
